# OS
.DS_Store


# Log / tmp
log/
logs/
*.log
tmp/
*.tmp.*


# Python
venv
__pycache__


# Editor
# VS Code
*.code-workspace


# Misc
.env


# Project
/.dev/
/data/pla_assignments-anonymized.csv
/data/pla_assignments_backup-anonymized.csv
*.duckdb


# Keep
!.gitkeep